@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    background-image: url(../images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto; 
    background-color: hsl(275, 100%, 97%);
}
