@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    background-image: url(../images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: hsl(275, 100%, 97%);
    font-size: 1rem;
    display: grid;
    place-content: center;
    
}
.answer{
    display: none;
}
.answer p{
    color: hsl(292, 16%, 49%);
    padding: 0 1.25rem;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.7;
    margin-bottom: 10px;
}
.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: hsl(0, 100%, 100%);
    border-radius: 10px;
    box-shadow: 0px 32px 56px rgba(80, 0, 118, 0.1);
}
.container .title{
    width: 100%;
    display: flex;  
    justify-content: flex-start;
    padding: 20px 20px 0;
}

.container .title h1{
   font-size: 2rem;
   font-weight: 700;
   margin-left: 20px;
   color: hsl(292, 42%, 14%);
}

.faq-item{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    border-bottom: 2px solid hsl(275, 100%, 97%);
}
.faq-item .question-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    text-align: left;
    background: none;
    border: none;
    padding: 20px;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
    text-align: left;
    
}

.faq-item.active .answer {
    display: block;
}

@media (min-width: 768px){
    body{
        background-image: url(../images/background-pattern-desktop.svg);
    }
}
